/*-----------------------------------------------------------------------------------*/
/* FONTS 
/*-----------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/*-----------------------------------------------------------------------------------*/
/* VARIABLES
/*-----------------------------------------------------------------------------------*/
:root {
  --primary: #1E5AFA;
  ;
  --secondary: #424242;
  --default: #FFF;
  --headers: #313131;
}

/*-----------------------------------------------------------------------------------*/
/* RESET CSS 
/*-----------------------------------------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
.menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
input[type=button],
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400;
}

body {
  position: relative;
  font-weight: 400;
  width: 100%;
  min-height: 100%;
  color: var(--default);
  background: #fff;
  font-size: 16px;
  direction: ltr;
  overflow-x: hidden;
}

:lang(en) body {
  direction: ltr;
}

html {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  color: var(--default);
  transition: all 0.3s ease;
  font-family: inherit;
}

select,
button,
input {
  outline: none;
}

p {
  line-height: 1.6;
  font-size: 16px;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 85px !important;
  font-weight: 800 !important;
  text-align: center !important;
  margin-top: 50px !important;
  color: var(--default) !important;
  ;
  width: 550px !important;
}

h2 {
  color: #FAFAFA;
  text-align: center;
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  color: var(--headers) !important;
  text-align: center !important;
  font-size: 85px !important;
  font-weight: 700 !important;
  line-height: 100% !important;
  letter-spacing: -3px !important;
}

h4 {
  color: var(--headers) !important;
  font-size: 46px !important;
  font-weight: 600 !important;
  line-height: 100% !important;
}

h5 {
  color: var(--secondary) !important;
  ;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

b {
  font-weight: 500;
}

/*-----------------------------------------------------------------------------------*/
/* Header
/*-----------------------------------------------------------------------------------*/

.main_container {
  background-color: var(--primary);
}

.container_one {
  width: 75% !important;
  max-width: 1500px;
  margin: auto;
  padding: 0 20px;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  margin: 1rem 0;
}

nav {
  background-color: #1E5AFA;
  display: flex;
  justify-content: space-between;
}

nav ul {
  margin: 10%;
  vertical-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
}

li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 0;
  margin: 0 1rem;
  transition: all 0.3s ease;
  width: auto;
  height: auto;
}

li a:hover {
  color: #000F37;
}

li button {
  color: var(--headers);
  text-decoration: none;
  transition: all 0.3s ease;
  width: 152px;
  height: 58px;
  margin: 5px;
  flex-shrink: 0;
  background-color: var(--default);
  border-radius: 10px;
}

li button:hover {
  background-color: var(--secondary);
  color: var(--default);
}

.main span {
  font-size: 32px !important;
  font-weight: 700 !important;
}

.main {
  margin-right: 210px !important;
}


/*-----------------------------------------------------------------------------------*/
/* HeroAdding
/*-----------------------------------------------------------------------------------*/


.heroheadding {
  background-color: var(--primary);
  height: 550px;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroBody {
  display: flex;
  width: 756px;
  justify-content: center;
  align-items: center;
  margin-left: 342px;
}



.flex p {
  font-size: small;
  color: white;
  width: 520px;
  text-align: center
}


/*-----------------------------------------------------------------------------------*/
/* about_us
/*-----------------------------------------------------------------------------------*/
.about_us {
  margin-top: 560px !important;
  display: flex;
  justify-content: center;
}



.heroheadding .flex img {
  margin: 20px;
  border-radius: 35px;
  box-shadow: inset;
  box-shadow: -20px 10px 3000px 1px rgb(65, 58, 58)
}

.flexlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  margin-top: 50px;
}

.flexlogo img {
  margin: 20px;
  border-radius: 10px;
  box-shadow: inset;
  box-shadow: -20px 10px 300px 1px rgb(65, 58, 58)
}

div[class~="flex"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

.aboutbanner {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
}

.aboutbanner div {
  margin: 90px;
}




.aboutbanner img {
  width: 100%;
  height: 100%;
  border-radius: 35px;
  box-shadow: inset;
  box-shadow: -20px 10px 300px 1px rgb(65, 58, 58)
}

.aboutbanner .left {
  width: 600px;
}

.left button {
  width: 185px;
  height: 58px;
  color: white;
  border-radius: 10px;
  background-color: #000F37;
}

.left button:hover {
  background-color: #1E5AFA;
}

.left p {
  font-size: 20px;
  color: #000F37;
  font-weight: bold;
  margin-top: 20px;
}

.Clients .header p {
  font-size: 85px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px
}

.Clients .flex p {
  font-size: large;
  color: #000F37;
  width: 520px;
  text-align: center;
}

.testimonies {
  background-color: #FAFAFA;
  margin-top: 100px
}

.testimonies .header p {
  font-size: 85px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.testimonies .flex p {
  font-size: large;
  color: #000F37;
  width: 520px;
  text-align: center;
}

.testimonies .flex .test {
  width: 580px;
  height: 273px;
  border-radius: 5px;
  border: #cccccc solid 1px;
  margin: 10px;
}

.testimonies .flex .test p {
  font-size: 14px;
  color: #5F7285;
  text-align: center;
  margin: 20px;
  margin-top: 60px;
  font-style: italic;
}

.card1 {
  display: flex;
  justify-content: first baseline;
  align-items: center;
  width: 200px;
  height: 100px;
  margin-left: 40px;
}

.card1 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card1 div {
  width: 100px;
}

.card1 div p {
  font-size: 14px;
  color: #5F7285;
  text-align: center;
  font-style: italic;
  width: 50px;
}

.NamePos {
  display: block;
  width: 150px;
  margin-left: 20px;
}

.NamePos p {
  all: revert !important;
  width: fit-content !important;
  font-size: 14px !important;
  color: #5F7285 !important;
}

p[class="name"] {
  font-size: 14px !important;
  color: #5F7285 !important;
  width: fit-content !important;
  font-weight: bold !important;
}

p[class="position"] {
  font-size: 12x !important;
  color: #5F7285 !important;
  width: fit-content !important;
  font-style: italic !important;
  font-weight: lighter !important;
}

/*-----------------------------------------------------------------------------------*/
/* Subscribe
/*-----------------------------------------------------------------------------------*/


.subscribe {
  width: 1170px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--primary);
  margin-left: 135px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.subscribe h5 {
  color: #FDFDFF !important;
  font-size: 48px !important;
  font-weight: 600 !important;
  line-height: 56px !important;
}

.subscribe h2 {
  text-align: start;
  width: 556px;
  color: #F5F2FF;
  font-weight: 400;
  line-height: 32px;
}

.subscribe button {
  width: 220px;
  background-color: var(--primary);
  height: 70px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #FAFAFA;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(56, 56, 56, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(56, 56, 56, 0.04), 0px 20px 13px 0px rgba(56, 56, 56, 0.05), 0px 38.51852035522461px 25.481481552124023px 0px rgba(56, 56, 56, 0.06), 0px 64.81481170654297px 46.85185241699219px 0px rgba(56, 56, 56, 0.08), 0px 100px 80px 0px rgba(56, 56, 56, 0.10);
}

.subscribe button span {
  color: #FAFAFA;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}


/*-----------------------------------------------------------------------------------*/
/* Footer
/*-----------------------------------------------------------------------------------*/

footer {
  margin-top: 146px;
  margin-bottom: 106px;
  display: flex;
  justify-content: space-around;
  background-color: var(--default);
}

footer h6 {
  color: #313131;
  font-size: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


footer a {
  color: var(--headers) !important;
  font-size: 16px;
  font-weight: 400;
}

footer a:hover {
  color: var(--primary) !important;
}

.footer0 {
  width: 360px;
  height: 345px !important;
}

.footer1 {
  height: 100% !important;
  height: 345px !important;
}

.footer2 {
  height: 345px !important;
}

.footer3 {
  height: 345px !important;
}

footer button {
  border-radius: 5px;
  border: 1px solid #011037;
  width: 100px;
  height: 46px;
  flex-shrink: 0;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(56, 56, 56, 0.02), 0px 8.148148536682129px 6.518518447875977px 0px rgba(56, 56, 56, 0.04), 0px 20px 13px 0px rgba(56, 56, 56, 0.05), 0px 38.51852035522461px 25.481481552124023px 0px rgba(56, 56, 56, 0.06), 0px 64.81481170654297px 46.85185241699219px 0px rgba(56, 56, 56, 0.08), 0px 100px 80px 0px rgba(56, 56, 56, 0.10);
}

.footer_line {
  width: 100%;
  height: 100px;
  background-color: #000F37;
  align-items: center;
  justify-content: center;
  display: flex;
}

footer input {
  border-radius: 5px;
  border: 1px solid #E7EBEE;
  background: #FAFAFA;
  width: 189px;
  height: 46px;
  flex-shrink: 0;
}