/*-----------------------------------------------------------------------------------*/
/* FONTS 
/*-----------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/*-----------------------------------------------------------------------------------*/
/* VARIABLES
/*-----------------------------------------------------------------------------------*/
:root {
  --primary: #1e5afa;
  --secondary: #424242;
  --default: #fff;
  --headers: #313131;
}

/*-----------------------------------------------------------------------------------*/
/* RESET CSS 
/*-----------------------------------------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
.menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
input[type="button"],
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Inter", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400;
}

body {
  position: relative;
  font-weight: 400;
  width: 100%;
  min-height: 100%;
  color: black;
  background: #fff;
  font-size: 16px;
  direction: ltr;
  overflow-x: hidden;
}

:lang(en) body {
  direction: ltr;
}

html {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  color: var(--default);
  transition: all 0.3s ease;
  font-family: inherit;
}

select,
button,
input {
  outline: none;
}

p {
  line-height: 1.6;
  font-size: 16px;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 85px !important;
  font-weight: 800 !important;
  text-align: center !important;
  margin-top: 50px !important;
  color: var(--default) !important;
  max-width: 550px !important;
}

h2 {
  color: #313131;
  text-align: center;
  font-size: 85px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -3px;
}

h3 {
  color: #000f37;
  font-size: 46px;
  font-weight: 600;
  line-height: 100%;
}

h4 {
  color: var(--headers) !important;
  font-size: 46px !important;
  font-weight: 600 !important;
  line-height: 100% !important;
}

h5 {
  color: var(--secondary) !important;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

b {
  font-weight: 500;
}
section {
  position: relative;
  margin: 80px 0;
}
section h2 {
  color: #313131;
  text-align: center;
  font-size: 85px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -3px;
}
section h2 + p {
  color: #575757;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
}
/*-----------------------------------------------------------------------------------*/
/* Header
/*-----------------------------------------------------------------------------------*/
.main_container::after {
  position: absolute;
  content: "";
  background-image: url("../images/vectors/Ellipse\ 753\(1\).png");
  width: 175px;
  height: 100%;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
}

.main_container {
  position: relative;
}
.main_container::before {
  background-color: var(--primary);
  width: 100%;
  height: 70%;
  position: absolute;
  content: "";
  top: 0;
}

.container {
  width: 75% !important;
  max-width: 1500px;
  height: fit-content;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 30px;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 35px;
}

nav a {
  color: #fafafa;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #000f37;
}

.smartHome {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  color: #fafafa;
  font-size: 32px;
  font-weight: 700;
}

.NavLogin {
  display: flex;
  align-items: center;
  gap: 35px;
}
.NavLogin .login {
  color: #fafafa;
  font-size: 17px;
  font-weight: 400;
}
.NavLogin .button {
  border-radius: 5px;
  color: #011037;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  background-color: #ffffff;
  padding: 18px 44px;
}

/*-----------------------------------------------------------------------------------*/
/* HeroAdding
/*-----------------------------------------------------------------------------------*/
.socials {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style-type: none !important;
  position: absolute;
  left: -50px;
  top: 40%;
  color: #ffffff;
}

.heroheadding {
  z-index: 1;
  align-items: center;
}
h1 {
  margin: auto;
  color: #fafafa;
  text-align: center;
  font-size: 85px;
  font-weight: 800;
  line-height: 100%;
}
.heroheadding p {
  margin: 30px auto;
  text-align: center;
  color: #fafafa;
  font-size: 18px;
  font-weight: 400;
  max-width: 720px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroheading .flexlogo {
  gap: 20px;
}
.heroheadding .flex img {
  margin: 20px;
  border-radius: 35px;
  height: 66px;
}

.flexlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.flexlogo img {
  border-radius: 10px;
}
.mainImage {
  margin: auto;
  display: block;
}
/*-----------------------------------------------------------------------------------*/
/* about_us
/*-----------------------------------------------------------------------------------*/
.about_us::after {
  position: absolute;
  content: "";
  background-image: url("../images/vectors/Vector\ 1.png");
  width: 700px;
  height: 1300px;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  z-index: -1;
}
.about_us:before {
  position: absolute;
  content: "";
  background-image: url("../images/vectors/Decorator.png");
  width: 300px;
  height: 500px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}
#about_us {
  margin-top: 70px;
}
#about_us h2 {
  margin-bottom: 8%;
}
.aboutbanner {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 100px;
}

.image_banner {
  max-width: 50% !important;
  width: 50% !important;
  position: relative;
}

.aboutbanner img {
  margin: auto auto;
  width: 50%;
  display: block;
}

.image_banner::after {
  background-color: #1e5afa;
  border-radius: 10px;
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  z-index: -1;
}
#test {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.text {
  width: 50%;
  margin-top: 10%;
}

.button {
  padding: 18px 40px;
  color: white;
  border-radius: 10px;
  background-color: #000f37;
}

.button1 {
  padding: 18px 40px;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10%;
}

.button:hover {
  background-color: #1e5afa;
}

.text p {
  color: #575757;
  font-size: 20px;
  font-weight: 400;
  width: 70%;
  line-height: 32px;
  margin: 35px 0;
}
.text h3 {
  width: 70% !important;
}
/*-----------------------------------------------------------------------------------*/
/* Clients
/*-----------------------------------------------------------------------------------*/

.Clients {
  margin-top: 240px;
}
.Clients::after {
  position: absolute;
  content: "";
  background-image: url("../images/vectors/Decorator\(1\).png");
  width: 175px;
  height: 100%;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
}
.Clients h2 {
  margin-bottom: 40px !important;
}
.Clients a {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 20px 50px 0px rgba(49, 49, 49, 0.05);
  width: 20%;
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

.Clients .flex {
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch !important;
}
.Clients a img {
  max-height: 50%;
  max-width: 70%;
}

/*-----------------------------------------------------------------------------------*/
/* testimonies
/*-----------------------------------------------------------------------------------*/

.testimonies {
  margin-top: 100px;
}
.testimonies h2 {
  margin-bottom: 40px !important;
}
.testimonies h2 + p {
  color: #5f7285;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 25px !important;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.testimonies .flex p {
  color: #5f7285;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.owl-carousel.owl-loaded {
  margin: 0 auto;
}

.owl-carousel.owl-loaded img {
  margin: 10%;
}

.card {
  border-radius: 10px;
  background: #fafafa;
  padding: 50px;
  margin-bottom: 30px;
}
.card p {
  color: #5f7285;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 30px;
  text-align: start;
}
.card .identitycont {
  display: flex;
  margin-top: 30px;
  align-items: center;
  gap: 15px;
}
.identitycont h4 {
  color: #1b263d;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
  padding: 5px;
}
.identitycont h5 {
  color: #9c9ea3 !important;
  font-family: Inter !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  padding: 5px;
}
.card .img {
  background-image: url("../images/cards/image.png");
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/*-----------------------------------------------------------------------------------*/
/* FAQ
/*-----------------------------------------------------------------------------------*/
.faq::after {
  position: absolute;
  content: "";
  background-image: url("../images/vectors/Decorator\(2\).png");
  width: 175px;
  height: 100%;
  left: 0;
  top: 50%;
  background-repeat: no-repeat;
}
.faq::before {
  position: absolute;
  content: "";
  background-image: url("../images/vectors/Vector\ 334.png");
  width: 800px;
  height: 1300px;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  z-index: -1;
}
.faq .question {
  box-sizing: border-box;
  width: 50%;
  background: #fafafa;
  gap: 30px;
  border-radius: 10px;
  border: 1px solid #e7ebee;
  border-radius: 10px;
  padding: 30px;
  margin: 0 auto;
}
.faq ul {
  margin-top: 50px;
}

.faq li {
  margin: 15px;
  list-style: none;
}

.faq h5 {
  color: #313131;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 130% !important;
}

.faq button {
  width: 100px;
  height: 46px;
  margin-left: 15px;
  margin-right: 35px;
  font-size: 35px;
  background-color: #e7ebee;
}

.question p {
  margin-top: 20px;
  margin-left: 14%;
  display: none;
}
.question .flex {
  justify-content: start;
  gap: 50px;
}
.question.active {
  background-color: #fff;
}
.question.active i {
  color: #fd5757;
}
/*-----------------------------------------------------------------------------------*/
/* Download App
/*-----------------------------------------------------------------------------------*/

.downloadApp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 150px;
}

.downloadApp h3 {
  color: #313131;
  text-align: start !important;
  margin: 40px;
}

.downloadApp .Appleft p {
  color: #575757;
  font-size: 18px;
}

.downloadApp > img {
  box-shadow: -5px 1.8518518209457397px 3.1481480598449707px 0px
      rgba(56, 56, 56, 0.02),
    0px 8.148148536682129px 6.518518447875977px 0px rgba(56, 56, 56, 0.04),
    0px 20px 13px 0px rgba(56, 56, 56, 0.05),
    0px 38.51852035522461px 25.481481552124023px 0px rgba(56, 56, 56, 0.06),
    0px 64.81481170654297px 46.85185241699219px 0px rgba(56, 56, 56, 0.08),
    0px 100px 80px 0px rgba(56, 56, 56, 0.1);
  border-radius: 10px;
  width: 22%;
  cursor: pointer;
}

.downloadApp .flexlogo {
  justify-content: start;
}

/*-----------------------------------------------------------------------------------*/
/* Subscribe
/*-----------------------------------------------------------------------------------*/

.subscribe {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background: var(--primary);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.subscribe h5 {
  color: #fdfdff !important;
  font-size: 48px !important;
  font-weight: 600 !important;
  line-height: 56px !important;
  margin-bottom: 20px;
}

.subscribe h2 {
  text-align: start;
  color: #f5f2ff;
  font-weight: 400;
  line-height: 32px;
}

.subscribe button {
  width: 220px;
  background-color: var(--primary);
  height: 70px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #fafafa;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px
      rgba(56, 56, 56, 0.02),
    0px 8.148148536682129px 6.518518447875977px 0px rgba(56, 56, 56, 0.04),
    0px 20px 13px 0px rgba(56, 56, 56, 0.05),
    0px 38.51852035522461px 25.481481552124023px 0px rgba(56, 56, 56, 0.06),
    0px 64.81481170654297px 46.85185241699219px 0px rgba(56, 56, 56, 0.08),
    0px 100px 80px 0px rgba(56, 56, 56, 0.1);
}

.subscribe button span {
  color: #fafafa;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.subscribe button span::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 100px;
  bottom: 0;
  right: 20px;
  background-image: url("../images/svg/sub.svg");
  transition: 0.5s;
  background-size: contain;
}
.subscribe p {
  color: white;
}

/*-----------------------------------------------------------------------------------*/
/* Footer
/*-----------------------------------------------------------------------------------*/

footer {
  margin-top: 146px;
  display: flex;
  justify-content: space-between;
  background-color: var(--default);
}

footer h6 {
  color: #313131;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

footer a {
  color: var(--headers) !important;
  font-size: 16px;
  font-weight: 400;
}

footer a:hover {
  color: var(--primary) !important;
}

.footer0 {
  height: 345px !important;
}

.footer1 {
  height: 100% !important;
  height: 345px !important;
}

.footer2 {
  height: 345px !important;
}

.footer3 {
  height: 345px !important;
}

footer button {
  border-radius: 5px;
  border: 1px solid #011037;
  width: 100px;
  flex-shrink: 0;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px
      rgba(56, 56, 56, 0.02),
    0px 8.148148536682129px 6.518518447875977px 0px rgba(56, 56, 56, 0.04),
    0px 20px 13px 0px rgba(56, 56, 56, 0.05),
    0px 38.51852035522461px 25.481481552124023px 0px rgba(56, 56, 56, 0.06),
    0px 64.81481170654297px 46.85185241699219px 0px rgba(56, 56, 56, 0.08),
    0px 100px 80px 0px rgba(56, 56, 56, 0.1);
}

.footer_line {
  width: 100%;
  height: 100px;
  background-color: #000f37;
  align-items: center;
  justify-content: center;
  display: flex;
}

footer input {
  border-radius: 5px;
  border: 1px solid #e7ebee;
  background: #fafafa;
  width: 62%;
  padding: 8px;
}

footer li {
  margin-bottom: 15px;
  list-style: none;
}
.register {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Register {
  display: flex;
  justify-content: space-between;
}
.btn-wrap {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 50px;
}
.btn-wrap button {
  width: 200px;
  border-radius: 20px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 20px;
}

.owl-nav {
  margin: 0 auto;
  width: fit-content;
}

.footer_line {
  color: white;
}

.scrolldown {
  color: black;
  position: fixed;
  top: 80%;
  right: 50px;
  background-color: red;
  padding: 30px;
  cursor: pointer;
  background: #fefefe;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px
      rgba(56, 56, 56, 0.02),
    0px 8.148148536682129px 6.518518447875977px 0px rgba(56, 56, 56, 0.04),
    0px 20px 13px 0px rgba(56, 56, 56, 0.05),
    0px 38.51852035522461px 25.481481552124023px 0px rgba(56, 56, 56, 0.06),
    0px 64.81481170654297px 46.85185241699219px 0px rgba(56, 56, 56, 0.08),
    0px 100px 80px 0px rgba(56, 56, 56, 0.1);
}

/*-----------------------------------------------------------------------------------*/
/* media css
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 800px) {
  body{
    width: 100%;
  }
  nav{
    width: 100%;
    display : none;
  }
  .mainImage {
    width: 100%;
    height: 100%;
  }
  .socials{
    z-index: -1;
    left: -10%;
    top : 30%;
    gap: 5px;
  }
  .heroheadding{
    width: 100%;
    margin-top: 0px !important;
  }
  .heroheadding h1{
    padding: 15px 0px !important;
    margin-top: 0px !important;
    font-size: 20px !important;
    width: 100% !important;
    text-align: center !important;
  }
  .heroheadding p{
    font-size: 13px;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 15px;
  }
  .aboutbanner{
    z-index: 1;
    flex-wrap: wrap;
  }
  .about_us h2{
    font-size: 40px;
  }
  .image_banner{
    margin: 0 auto;
  }
  .image_banner img{
    width: 80%;
  }
  .image_banner::after{
    content: "";
    width: 100%;
    z-index: -1;
  }
  .text{
    width: 100%;
    margin: 0 auto !important;
    padding: 15px;
  }
  .text h3{
    padding: 10px;
    margin: 0 auto;
    font-size: 30px;
    text-align: center
  }
  .text p{
    padding : 10px;
    margin: 0 auto;
    font-size: 15px;
    text-align :justify;
  }
  .text .button{
    padding: 10px;
    margin: 0 auto;
    display: block;
    max-width: 150px;
    text-align: center;
  }
  .text .button1{
    padding: 10px;
    margin: 0 auto;
    display: block;
    max-width: 150px;
    text-align: center;
  }
  .container h2{
    font-size: 40px;
  }
  .Clients{
    z-index: 1;
    margin-top : 10px;
  }
  .Clients a{
    width: 45%;
  }
  .question{
    width: 100% !important;
    margin: 0 auto;
  }
  ul{
    position: relative;
    z-index: 1 !important;
  }
  .Appleft h3{
    margin: 0 auto;
    padding: 20px;
  }
  .Appleft p{
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  .Appleft .flexlogo{
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
  }
  .subscribe{
    padding: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 auto !important;
    height: fit-content;
  }
  .subscribe h5{
    margin: 0 auto;
  
    text-align: center;
    font-size: 40px !important;
  }
  .subscribe p{
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 15px !important;
  }
  footer{
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer0{
    width: 58%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    height: fit-content !important;
  }
  .footer3{
    margin: 0 auto;
  }
  section h2 + p {
    width: 100%;
  }
  .downloadApp {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .aboutbanner {
    gap: 10px;
  }
  .container {
    width: 90% !important;
  }
  h6{
    margin-bottom: 10px;
  }
  
}
